<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatório</title>

    <link href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" rel="stylesheet">

    
    <style>
        /* Adicione sua estilização aqui */
        body {
            font-family: Arial, sans-serif;
        }

        table {
            border-collapse: separate;
            width: 100%;
        }

        th, td {
            border: 1px solid #bebebe;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #d0d0d3;
        }
    </style>
</head>
<body >
    <div >           
        <h1 >Lista de cobranças do plano de saúde</h1>
        <table>
            <thead>
                <tr>
                    <th>Matricula</th>
                    <th>Nome</th>
                    <th>DataCobranca</th>
                    <th>Valor</th> 
                </tr>
            </thead>
            <tbody>
            <% if (book.length > 0) { %>
                <% book.forEach(book => { %>
                    <tr>
                        <td><%= book.matricula %></td>
                        <td><%= book.nome %></td>
                        <td><%= book.dataCobranca %></td>
                        <td><%= book.valor %></td>
                    </tr>
                <%  }); %>
            <% } %>
            </tbody>
            <tfoot>
                <tr><br/><br/><td colspan="2"><%=book.length%> clientes registrados no banco de dados</td></tr>
            </tfoot>
        </table>
    </div>
</body>
</html>

